*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.hex
*.sct
*.scvd
*.dbg*
*.uvguix.*
*Log.*

#忽略.gitignore根目录下的文件夹，根据自己的需要修改
#vscode配置
.vscode/
*.code-workspace
**/.vscode/
build/

#不能忽略的文件
!*.h
!*.c